:root {
    --accent-color: goldenrod;
    /* -------------- Valori per un colore background dinamico -------------- */
    --bg-h: 225;
    --bg-s: 36%;
    --bg-l: 18%;
    --bg-color: hsl(var(--bg-h), var(--bg-s), var(--bg-l));
    --lighter-bg: hsl(var(--bg-h), var(--bg-s), calc(var(--bg-l) * 1.2));
    --darker-bg: hsl(var(--bg-h), var(--bg-s), calc(var(--bg-l) * 0.8));


    background-color: var(--bg-color); /* Colori vari sono impostati qua */
    color: rgb(229, 229, 229); /* Il colore del testo è preso da qui */
}

/* ----------- Sezione per formattare l'elemento main della pagina ---------- */
main {
    width: 50%;
    margin: auto;
    background-color: var(--darker-bg);
}

main > div {
    padding: 1em;
}

/* ------ Sezione per formattare l'header con foto profilo della pagina ----- */
#contenitore-foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0%;
    background-color: var(--lighter-bg);
}

#contenitore-foto > * {
    text-align: center;
}

#contenitore-foto > hr {
    padding-bottom: 0;
    margin: 0%;
    width: 100%;
}

.foto-profilo {
    width: 30%;
    /* margin: auto 30%; */
}

/* -------------- Sezione per formattare il testo della pagina -------------- */
div.h2-categorie > h2,
#contenitore-foto > hr{
    color: var(--accent-color);
}

div.h2-h3-sottocategorie > h3 {
    font-style: italic;
    color: var(--accent-color);
    filter: brightness(0.75)
}

p {
    margin: 0%;
}